// Colors ---------------
$primary_color: #0f496d;
$secondary_color: #ef5d50;
$third_color: #5fb4ff;
$quarter_color: #61d4b3;
$fifth_color: #ff5b53;
$dark_color: #032c45;
$gray_color: #f3f3f3;
$warning_color: #f4c900;
$warning1_color: #f4c900;
$danger_color: #d23444;

//COLORES ESTUDIANTES
$primary:#155D97;
$secondary:#5B53D5;
$info:#50A5F1;
$warning:#F1B44C;
$error:#F46A6A;
$success:#34C38F;
$green:#34C38F;
$dark:#343A40;
$dark_gray:#74788D;
$light_gray:#E5E8ED;
$background:#F8F8FB;
////////////////////////
// $light_primary_color: #8fc6bd;
// $gray0_color: #D6D6D6;
// $gray1_color: #959595;
// $gray2_color: #6b6b6b;
// $gray3_color: #5c5a5a;
// $gray4_color: #3d3c3c;
// $gray5_color: #272727;
// $danger_color: #e23a41;
// $warning2-color: #f38923;
// $warning3-color: #e95e37;

/* Breakpoints */
$s-small: 375px;
$small: 440px;
$s-medium: 570px;
$medium: 768px;
$large: 960px;
$xs-large: 1024px;
$x-large: 1124px;
$xx-large: 1250px;
$xxx-large: 1440px;
$high-quality: 1700px;
$medium-lcd:1080px;
$width:1014px;