@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

#editorjsLocked{
  cursor: initial;
}
.ce-block__content,
.ce-toolbar__content {
  max-width: none;
}

.ce-block__content {
  .ce-header {
    font-family: nova_bolder, sans-serif !important;
    font-weight: 700;
    padding-bottom: 0.7em;
    line-height: normal;
  }

  .ce-paragraph {
    font-family: "Open Sans", sans-serif !important;
    font-size: 1.4em;
    color: #5a5a5a;

    &[data-placeholder]:empty:before {
      font-style: italic;
    }
  }
}
.course-detail {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__container {
    max-width: $xx-large;
  }
  &__cont {
    font-family: poppins_regular, sans-serif !important;
    font-size: 1.2rem;
    color: $dark-gray;
    margin-bottom: 30px;
    & > p {
      font-family: poppins_semi_bold, sans-serif !important;
    }
    & > span {
      display: flex;
      align-items: center;
      color: $dark-gray;
      font-size: 1.2rem;
      margin-top: 20px;
      margin-right: 20px;
      font-family: poppins_regular, sans-serif !important;
      & > i {
        font-size: 1.3rem;
        color: $primary;
        margin-right: 5px;
      }
    }
  }
  & > h4 {
    font-family: roboto, sans-serif !important;
    color: $dark;
    font-size: 2.5rem;
    margin-bottom: 50px;
    margin-top: 0px;
    text-align: start;
    max-width: 1080px;
    width: 90%;
  }
  .img {
    position: relative;
    & > img {
      width: 100%;
      height: 620px;
      object-fit: cover;
    }
    & > div {
      position: absolute;
      bottom: -20px;
      right: 20px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      width: 320px;
      height: 300px;
      border-radius: 10px;
      box-shadow: 0px 4px 10px rgba(21, 93, 151, 0.15);

      & > span {
        width: 100%;
        display: flex;
        align-items: center;
        color: $dark-gray;
        font-size: 1.4rem;
        margin-top: 10px;
        font-family: poppins_semi_bold, sans-serif !important;
        & > i {
          font-size: 1.4rem;
          color: $primary;
          margin-right: 5px;
        }
      }
      & > a {
        margin-top: 30px;
      }
    }
  }
  .cont {
    & > p,
    div {
      font-family: poppins_regular, sans-serif !important;
      font-size: 1.2rem;
      color: $dark-gray;
    }
  }
  & .title {
    display: flex;
    align-items: center;
    margin: 20px 0;
    max-width: 1080px;
    & > span {
      background: linear-gradient(270deg, #135ebb 4.67%, #479ff8 100%);
      border-radius: 4px;
      color: white;
      height: 20px;
      padding: 0 15px;
      margin-right: 20px;
    }
    & > div {
      background: $error;
      border-radius: 4px;
      color: white;
      height: 20px;
      padding: 0 15px;
    }
  }
}
@include from($s-medium) {
  .img {
    & > div {
      position: initial !important;
    }
  }
  .course-detail {
    padding: 20px;
  }
  .ce-block__content {
    .ce-paragraph {
      font-size: 1.2em;
    }
  }
}
